/* app css stylesheet */

body {
    padding-top: 20px;
}
#popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto !important;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    z-index: 10;
}
#left-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100% !important;
    padding: 10px;
    z-index: 11;
    background-color: #fff;
}
/** List View **/
ul.stars-list {
    padding-left: 0;
}

.stars-list img {
    max-height: 200px;
}

.stars-list li {
    clear: both;
    padding-top: 15px;
    list-style: none;
}

.star-images {
    width: 450px;
    height: 450px;
    overflow: hidden;
    position: relative;
    float: left;
}

.stars {
    list-style: none;
}

.thumb {
    float: left;
    margin: -1em 1em 1.5em 0em;
    padding-bottom: 1em;
    height: 100px;
    width: 100px;
}

/** Detail View **/
img.star {
    float: left;
    margin-right: 3em;
    margin-bottom: 2em;
    background-color: white;
    padding: 2em;
    height: 400px;
    width: 400px;
}

ul.star-thumbs {
    margin: 0;
    list-style: none;
}

ul.star-thumbs li {
    border: 1px solid black;
    display: inline-block;
    margin: 1em;
    background-color: white;
}

ul.star-thumbs img {
    height: 100px;
    width: 100px;
    padding: 1em;
}

ul.star-thumbs img:hover {
    cursor: pointer;
}

ul.specs {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.specs > li {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

ul.specs > li > span {
    font-weight: bold;
    font-size: 1.2em;
}

ul.specs dt {
    font-weight: bold;
}
