<div style="width: 100%; height: 100%"  ng-swipe-right="leftMenu=true" ng-swipe-left="leftMenu=false">
    <p class="text-center">
        Some Text about App
    </p>
</div>

<div id="popup-overlay" ng-show="leftMenu" ng-swipe-left="leftMenu=false"></div>
<div id="left-menu" ng-show="leftMenu" ng-swipe-left="leftMenu=false">
    <p>
        <a href="#/stars" class="btn btn-info">
            <span class="glyphicon glyphicon-asterisk"></span>
            List
        </a>
    </p>
    <p>
        <a href="#/about" class="btn btn-info">
            <span class="glyphicon glyphicon-pushpin"></span>
            About
        </a>
    </p>
    <p>
        <a href="#/other-products" class="btn btn-info">
            <span class="glyphicon glyphicon-globe"></span>
            Other products
        </a>
    </p>
    <br/>
    <p>
        <a href="#" ng-click="exit($event)" class="btn btn-info">
            <span class="glyphicon glyphicon-off"></span>
            Exit
        </a>
    </p>
</div>