<form action="" >
    <div class="form-group">
        <label for="search">Search:</label>
        <input ng-model="query" class="form-control" id="search">
    </div>
    <div class="form-group">
        <label for="sort">Sort by:</label>
        <select ng-model="orderProp" class="form-control" id="sort">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>
    </div>
</form>
<div class="row" ng-swipe-right="leftMenu=true" ng-swipe-left="leftMenu=false">
    <div class="col-lg-12">
        <!--Body content-->
        <ul class="stars-list">
            <li ng-repeat="star in stars | filter:query | orderBy:orderProp">
                <div class="col-lg-6">
                    <a href="#/stars/{{star.id}}">
                        <img ng-src="{{star.imageUrl}}" class="img-thumbnail">
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="#/stars/{{star.id}}">
                        {{star.name}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div id="popup-overlay" ng-show="leftMenu" ng-swipe-left="leftMenu=false"></div>
<div id="left-menu" ng-show="leftMenu" ng-swipe-left="leftMenu=false">
    <p>
        <a href="#/stars" class="btn btn-info">
            <span class="glyphicon glyphicon-asterisk"></span>
            List
        </a>
    </p>
    <p>
        <a href="#/about" class="btn btn-info">
            <span class="glyphicon glyphicon-pushpin"></span>
            About
        </a>
    </p>
    <p>
        <a href="#/other-products" class="btn btn-info">
            <span class="glyphicon glyphicon-globe"></span>
            Other products
        </a>
    </p>
    <br/>
    <p>
        <a href="#" ng-click="exit($event)" class="btn btn-info">
            <span class="glyphicon glyphicon-off"></span>
            Exit
        </a>
    </p>
</div>
