<div class="row" ng-swipe-right="leftMenu=true" ng-swipe-left="leftMenu=false">

    <div class="phone-images">
      <img ng-src="{{img}}"
           class="phone"
           ng-repeat="img in phone.images"
           ng-class="{active: mainImageUrl==img}">
    </div>

    <h1>{{star.name}}</h1>

    <p>{{star.description}}</p>

    <ul class="phone-thumbs">
      <li ng-repeat="img in phone.images">
        <img ng-src="{{img}}" ng-click="setImage(img)">
      </li>
    </ul>

    <ul class="specs">
      <li>
        <span>Availability and Networks</span>
        <dl>
          <dt>Availability</dt>
          <dd ng-repeat="availability in star.availability">{{availability}}</dd>
        </dl>
      </li>
      <li>
        <span>Battery</span>
        <dl>
          <dt>Type</dt>
          <dd>{{star.battery.type}}</dd>
          <dt>Talk Time</dt>
          <dd>{{star.battery.talkTime}}</dd>
          <dt>Standby time (max)</dt>
          <dd>{{star.battery.standbyTime}}</dd>
        </dl>
      </li>
      <li>
        <span>Storage and Memory</span>
        <dl>
          <dt>RAM</dt>
          <dd>{{star.storage.ram}}</dd>
          <dt>Internal Storage</dt>
          <dd>{{star.storage.flash}}</dd>
        </dl>
      </li>
      <li>
        <span>Connectivity</span>
        <dl>
          <dt>Network Support</dt>
          <dd>{{star.connectivity.cell}}</dd>
          <dt>WiFi</dt>
          <dd>{{star.connectivity.wifi}}</dd>
          <dt>Bluetooth</dt>
          <dd>{{star.connectivity.bluetooth}}</dd>
          <dt>Infrared</dt>
          <dd>{{star.connectivity.infrared | checkmark}}</dd>
          <dt>GPS</dt>
          <dd>{{star.connectivity.gps | checkmark}}</dd>
        </dl>
      </li>
      <li>
        <span>Android</span>
        <dl>
          <dt>OS Version</dt>
          <dd>{{star.android.os}}</dd>
          <dt>UI</dt>
          <dd>{{star.android.ui}}</dd>
        </dl>
      </li>
      <li>
        <span>Size and Weight</span>
        <dl>
          <dt>Dimensions</dt>
          <dd ng-repeat="dim in star.sizeAndWeight.dimensions">{{dim}}</dd>
          <dt>Weight</dt>
          <dd>{{star.sizeAndWeight.weight}}</dd>
        </dl>
      </li>
      <li>
        <span>Display</span>
        <dl>
          <dt>Screen size</dt>
          <dd>{{star.display.screenSize}}</dd>
          <dt>Screen resolution</dt>
          <dd>{{star.display.screenResolution}}</dd>
          <dt>Touch screen</dt>
          <dd>{{star.display.touchScreen | checkmark}}</dd>
        </dl>
      </li>
      <li>
        <span>Hardware</span>
        <dl>
          <dt>CPU</dt>
          <dd>{{star.hardware.cpu}}</dd>
          <dt>USB</dt>
          <dd>{{star.hardware.usb}}</dd>
          <dt>Audio / headphone jack</dt>
          <dd>{{star.hardware.audioJack}}</dd>
          <dt>FM Radio</dt>
          <dd>{{star.hardware.fmRadio | checkmark}}</dd>
          <dt>Accelerometer</dt>
          <dd>{{star.hardware.accelerometer | checkmark}}</dd>
        </dl>
      </li>
      <li>
        <span>Camera</span>
        <dl>
          <dt>Primary</dt>
          <dd>{{star.camera.primary}}</dd>
          <dt>Features</dt>
          <dd>{{star.camera.features.join(', ')}}</dd>
        </dl>
      </li>
      <li>
        <span>Additional Features</span>
        <dd>{{star.additionalFeatures}}</dd>
      </li>
    </ul>
</div>

<div id="popup-overlay" ng-show="leftMenu" ng-swipe-left="leftMenu=false"></div>
<div id="left-menu" ng-show="leftMenu" ng-swipe-left="leftMenu=false">
    <p>
        <a href="#/stars" class="btn btn-info">
            <span class="glyphicon glyphicon-asterisk"></span>
            List
        </a>
    </p>
    <p>
        <a href="#/about" class="btn btn-info">
            <span class="glyphicon glyphicon-pushpin"></span>
            About
        </a>
    </p>
    <p>
        <a href="#/other-products" class="btn btn-info">
            <span class="glyphicon glyphicon-globe"></span>
            Other products
        </a>
    </p>
    <br/>
    <p>
        <a href="#" ng-click="exit($event)" class="btn btn-info">
            <span class="glyphicon glyphicon-off"></span>
            Exit
        </a>
    </p>
</div>