<div class="row" ng-swipe-right="leftMenu=true" ng-swipe-left="leftMenu=false">

    <p class="text-center">
        List of other products AND play.google links
    </p>
    <p class="text-center">
        <img src="http://blog.strategicamerica.com/wp-content/uploads/2013/11/705ed580fbcff55a10426814b195402985-300x239.png" alt="" class="img-rounded" style="width: 25%"/>
    </p>
    <p class="text-center">
        <img src="http://blog.strategicamerica.com/wp-content/uploads/2013/11/705ed580fbcff55a10426814b195402985-300x239.png" alt="" class="img-rounded" style="width: 25%"/>
    </p>
    <p class="text-center">
        <img src="http://blog.strategicamerica.com/wp-content/uploads/2013/11/705ed580fbcff55a10426814b195402985-300x239.png" alt="" class="img-rounded" style="width: 25%"/>
    </p>
</div>
<div id="popup-overlay" ng-show="leftMenu" ng-swipe-left="leftMenu=false"></div>
<div id="left-menu" ng-show="leftMenu" ng-swipe-left="leftMenu=false">
    <p>
        <a href="#/stars" class="btn btn-info">
            <span class="glyphicon glyphicon-asterisk"></span>
            List
        </a>
    </p>
    <p>
        <a href="#/about" class="btn btn-info">
            <span class="glyphicon glyphicon-pushpin"></span>
            About
        </a>
    </p>
    <p>
        <a href="#/other-products" class="btn btn-info">
            <span class="glyphicon glyphicon-globe"></span>
            Other products
        </a>
    </p>
    <br/>
    <p>
        <a href="#" ng-click="exit($event)" class="btn btn-info">
            <span class="glyphicon glyphicon-off"></span>
            Exit
        </a>
    </p>
</div>